*{
    padding:0;
    margin:0;
}

/* ----------------- Shared Css--------------- */
.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container{
    max-width: 1140px;
    margin: auto;
}

.btn_global{
    background-color:#4E47FF;
    font-size: 16px;
    color:#ffffff;
    display: block;
    padding: 14px 32px;
    border-radius: 10px;
    border:0;
    cursor: pointer;
    transition: all 0.3s ;

}







/*  ----------------------Shared Css End --------------------------------- */




header{
    background-image: url(../images/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 698px;
    margin: auto;
}


header nav ul {
    max-width: 1140px;
    height: 151px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    list-style: none;

}

header .logo{
    font-size: 34px;
    font-weight: 800;
    color: #4E47FF;
    cursor: pointer;
}

.banner {
    max-width: 905px;;
    margin: auto;
}
.banner h1{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    color: #252432;
}

.banner .btn_global {
    margin: auto;
    margin-top: 25px;
}

/* --------------- banner section END  ----------------*/

.action-area {
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 85px 0;


}

.action-area .text-box{
    max-width: 500px;
}
.action-area .text-box h3{
    font-size: 42px;
    font-weight: bold;
    color:#252432;
    padding-bottom: 23px;
}
.action-area .text-box p{
    font-size: 24px;
    font-weight: 400;
    color: #252432;
    color: #25243280;
    padding-bottom: 23px;
}
.action-area img{
    border-radius: 48px;
}

/* ---------------------Action area end -------------------- */
/* -------------------- productiv section start ---------------------------- */

.productive-section{
    max-width: 1140px;
    margin: auto;
    background-color: #4d47ff28;
    border-radius: 24px;
    padding:50px 80px;
    text-align: center;
}
.productive-section h2{
    font-size: 38px;
    font-weight: bold;
    color:#252432;
    padding-bottom: 40px;
}
.productive-section .text-boxes{
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
}
.productive-section .text-boxes .box h4{
    font-size: 80px;
    font-weight: bold;
    color:#4E47FF;
}
.productive-section .text-boxes span{
    font-size: 20px;
    font-weight: normal;
    color:rgba(0, 0, 0, 0.5);
}

/* -------------------- productiv section end ---------------------------- */

/* ------------------------------- User Feed Back section -----------------------------------*/

.feedback-section{
    padding: 100px 0;
}
.feedback-section .feedback-title{
    text-align: center;
    font-size: 42px;
    margin-bottom: 50px;
    color:#252432;
}

.card-section{
    display: flex;
    gap:26px;
}
.card{
    max-width: 400px;
    border:1px solid #F2EDED;
    padding: 24px;
    border-radius: 14px;
}
.card .rating{
    display: flex;
    gap:5px;
    padding-bottom: 24px;
}

.card .card-description{
    padding:10px 0 24px;
}
.card .user{
    display: flex;
    gap:5px;
}
.card .user img{
    border-radius: 50%;
}
.card .user .username{
    color:#757575;
    padding-bottom: 5px;
}      
.card .user p.date{
    color:#B3B3B3;
}


/* ------------------------------- User Feed Back section End -----------------------------------*/


/* --------------------- Form section statr ------------------------------------- */



.form-section{
    padding: 71px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-section .text-are{
    max-width: 528px;
}
.form-section .text-are h2{
    font-size: 97px;
    font-weight: bold;
}


form{
    width: 497px;
}

form label{
    font-size: 18px;
    font-weight: 500;
    color:#000000;
}

form input , form textarea{
    width: 94%;
    height: 40px;
    padding: 12px 15px;
    border-radius: 10px;
    border: 1px solid #D6DDED;
    margin-bottom: 20px;
}


form textarea{
    height: 100px;
}


input[type=submit]{
    padding:20px 100px ;
    padding-bottom: 20px;
    margin:0;
    width: 100%;
    height: auto;

}  
